@charset "utf-8";

/* bootstrap扩展 */
body {color:#555;padding-top: 50px;}
textarea {resize: vertical;}
a code {cursor: pointer;}
.container {max-width: 1170px;}
small {font-size: 12px;}
.navbar {box-shadow: 0 0 1px #666;border: none;}
.panel {box-shadow: 0 1px 1px rgba(102,102,102,.47);}
.panel-heading {padding: 7px 10px;background-color: #F5F5F5;border-bottom: 1px solid #e0e0e0;}
.panel-footer {padding: 7px 10px;background-color: #F5F5F5;border-top: none;}
.dropdown-menu {min-width: 90px;}


/* 自定义 */
#header {}
#wrapper {min-height: 400px;background-color: #e5e5e5;padding-top: 20px;}
#footer {color: #999;background-color: #ffffff;clear: both;position: relative;box-shadow: 0 -1px 0 rgba(168,168,168,.33);min-height: 100px;text-align: center;padding-top: 30px;}
.text_indent {text-indent: 2em;}
.control-message {text-align: left !important;font-size: 12px;}

/* user bar */
.navbar-user {margin: 0;list-style: none;}
.navbar-user li {float:left;margin: 0;}
.navbar-user li a {display:block;line-height:20px;padding:15px 15px;color: #777;}
.user-avatar {float: left;height: 48px;}
.user-avatar img {border-radius: 5px;}
.user-title {float: left;height: 48px;margin-left: 10px;}
.user-title h3 {margin: 0;font-size: 16px;font-weight: 800;color: #292f33;line-height: 25px;}
.user-title p {color: #777;}
.user-info {margin: 15px 0;padding-left: 1px;border-top: 1px solid #eee;border-bottom: 1px solid #eee;}
.user-info dl {float: left;margin: 10px 0;border-right: 1px solid #eee;margin-right: 10px;padding-right: 15px;max-width: 33%;overflow: hidden;}
.user-info dl:nth-child(3) {border-right: none;}
.user-info dd {font-size: 16px;font-weight: 700;}
.user-info dt {font-size: 14px;font-weight: 500;}
.user-info:after {content:  "";display: table;clear: both;}
.user-signature {margin-top:15px;font-style: italic;font-size: 12px;color: #333;}

/* 列表 */
.no-padding {padding: 0;}
.cell {clear: both;padding: 10px 15px;border-bottom: 1px solid #f0f0f0;}
.cell:hover {background-color: #f8f8f8;}
.cell .item {padding-left: 58px;}
.cell .topic_title {font-size: 16px;line-height: 150%;font-weight: normal;margin: 0;}
.cell .topic-meta {font-size: 12px;margin-top: 5px;}
.cell .topic-meta a, .cell .comment_info a {color:#666;}
.cell .comment_info {color:#666;font-size: 13px;}
.cell .comment_info .postdate {color:#999;}
.cell .comment-count {color: #999;}
.cell .comment-reply {color: #666;}
.cell .comment_data {line-height: 25px;margin-top: 5px;}
.cell .comment_data .hide-comment {font-style: italic;}
.cell .comment_data p img {max-width: 100%;}
.cell .reply-to {font-size: 13px;margin: 1em;padding: 0 10px;border-left: 1px solid #999;line-height: 20px;}
.cell .reply-to p {margin: 0;}
.pagenav {text-align: center;}

/* 边栏 */
.panel-body-ds {margin-top: 15px;font-size: 14px;}

/* 头像 */
.avatar img {border-radius: 4px;}

/* 文本框 */
.postarea {font-size: 12px;line-height: 20px;}

.register_title {margin:10px 30px 30px 30px;padding:5px 20px;border: 1px solid #ddd;border-radius: 4px;line-height: 22px;font-size: 12px;}

/* 话题内容 */
.artcle {padding: 25px;}
.artcle p {line-height: 30px;}
.artcle img {max-width: 100%;}
.topic-info {margin: 15px 0;padding-left: 1px;border-top: 1px solid #eee;border-bottom: 1px solid #eee;}
.topic-info ul {list-style: none;margin: 10px 0;padding: 0 1px;}
.topic-info li {list-style: none;font-size: 13px;}
.comment .simditor-body, .div-blank .simditor-body {min-height: 150px !important;}
.no-login {text-align: center;}